@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans");

h1 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 2.75rem;
  font-weight: 500;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 1.8rem;
  font-weight: 500;
  word-break: normal;
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.3rem;
  font-weight: 500;
}

a,
a:hover,
a:visited,
a:link,
a:active {
  color: red;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
