/* Shared axis Z transition, forward */
.shared-enter-active {
  transition: all 300ms;
}

.shared-leave-active {
  position: absolute;
  left: 0;
  right: 0;
  transition: all 200ms;
}

.shared-enter {
  transform: scale(0.8);
  opacity: 0.5;
}
.shared-enter-to {
  transform: scale(1);
  opacity: 1;
}
.shared-leave {
  transform: scale(1);
  opacity: 1;
}
.shared-leave-to {
  transform: scale(1.1);
  opacity: 0;
}

/* Shared axis Z transition, backward */
.shared-enter-active {
  transition: all 300ms;
}

.shared-reverse-leave-active {
  position: absolute;
  left: 0;
  right: 0;
  transition: all 300ms;
}

.shared-reverse-enter {
  transform: scale(1.1);
  opacity: 0.5;
}
.shared-reverse-enter-to {
  transform: scale(1);
  opacity: 1;
}
.shared-reverse-leave {
  transform: scale(1);
  opacity: 1;
}
.shared-reverse-leave-to {
  transform: scale(0.8);
  opacity: 0;
}